@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Car owner dealership inventory!</h1>
    <h2>First, create at least one new dealership and at least one new owner. <br />Then navigate to the cars link to create new car record.</h2>

    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CreateDealership">Create New Dealership</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CreateOwner">Create New Owner</a>
            </li>
        </ul>
    </div>
</div>
